<div class='infowindow'>
    <p class='title'>Title: {{title}}</p>
    <div class='infowindow_left'>
        <img src='{{image_url}}'>
    </div>
    <div class='infowindow_right'>
        <p class='category'>Category: {{bribe.category}}</p>
        <p class='requested'>Amount requested: {{bribe.requested}}</p>
        <p class='paid'>Amount paid: {{bribe.paid}}</p>
        <p class='currency'>Currency: {{bribe.currency}}</p>
    </div>
    <p class='description'>Description: {{description}}</p>
</div>
